{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线招聘平台</title>
    <meta name="keywords" content="招聘平台,在线招聘,求职,岗位,职位">
    <meta name="description" content="简易在线招聘平台，提供岗位发布与求职服务">

    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_v2.css' %}">
    {% block css %}{% endblock css %}

    <script>
    </script>

</head>
<body>

{% include "base/header.html" %}
<div class="ui container" id="v-content">
    {% block content %}
    {% endblock content %}
</div>
{% include "base/footer.html" %}

<script src="https://cdn.staticfile.org/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
</script>

{% block javascript %}
{% endblock javascript %}

{% block modal %}
{% endblock modal %}

</body>
</html>